* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: lightslategray;
}

.container {
  height: 100vh;
  background-color: #666666a1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container h2 {
  text-align: center;
  background-color: teal;
  height: 40px;
  padding: 3% 0;
  color: #eee;
}

form {
  background-color: #eee;
  width: 250px;
  height: 300px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.why {
  padding: 15px;
}

.first,
.second {
  display: flex;
  margin: 10px 0;
  align-items: center;
}

.first i,
.second i {
  background-color: teal;
  width: 25px;
  height: 25px;
  color: rgba(0, 0, 0, 0.63);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px 0 0 5px;
}

.first input,
.second input {
  padding: 5px 10px;
  border: none;
  outline: none;
  caret-color: teal;
}

.f {
  display: block;
}

.foot {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}

.foot .button {
  background-color: teal;
  border-radius: 7px;
  width: 100%;
  border: none;
  outline: none;
  padding: 5px 0;
  font-size: 17px;
  color: #eee;
  cursor: pointer;
}
